services:
  postgres:
    image: postgres:15
    container_name: postgres_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: todos
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql

  server:
    build: ./server
    container_name: todo_backend
    environment:
      DB_USER: postgres
      DB_PASSWORD: postgres
      DB_NAME: todos
      DB_HOST: postgres
      DB_PORT: 5432
      PORT: 5000
    depends_on:
      - postgres
    ports:
      - "5000:5000"

  client:
    build:
      context: ./client
      args:
        VITE_API_URL: http://server:5000  # <-- important!
    container_name: todo_frontend
    depends_on:
      - server
    ports:
      - "4173:80"

volumes:
  pgdata:
